{% if request.user is authenticated %}
<p>{{request.user}}</p>
<a href="{% url 'logout' %}">Logout</a>
{% else %}
<a href="{% url 'login' %}">Login</a>
{% endif %}
<hr>
<h1>My TO DO List {{color}}</h1>
<a href="{% url 'task-create' %}">Add Task</a>

<form method="GET">
    <input type='text' name='search-area' value="{{serarch_input}}">
    <input type="submit" value="search">
</form>

<table>
    <tr>
        <th>Items</th>
        <th></th>
    </tr>
    {% for task in tasks %}
    <tr>
        <td>{{task.title}}</td>
        <td><a href="{% url 'task' task.id %}">View</a></td>
        <td><a href="{% url 'task-update' task.id %}">Edit</a></td>
        <td><a href="{% url 'task-delete' task.id %}">Delete</a></td>
    </tr>
    {% empty %}
         <h3>NO items in list</h3>
    {% endfor %}
</table>